//Author: Ava Albert
//date: 10/2023
//style the MessageThread component

@import "../../../colorScheme.scss";

.message-thread {
    color: black;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.liked-icon {
    color: $accent-color-hover;
    font-size: 40px;
    //move to top right corner
    position: absolute;
    top: -17px;
    right: -5px;
}

.liked-icon>path {
    stroke: black;
    stroke-width: 30px;
}

.message-box {
    overflow-x: hidden;
    padding: 0px 5px 0px 5px;
}

header {

    padding: 5px;
    width: 80.5%;
    margin: auto;
    color: white;
    height: 20%;
    text-align: center;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 10px;
}

header .header-img {
    padding: 3px;
    height: 200px;
    width: 200px;
    border-radius: 40%;
    box-shadow: 2px 1px 1px 1px inset rgb(255, 255, 82);
}

.message {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    word-break: break-all;
    position: relative;
}

.message .msg-text {
    color: white;
    overflow-wrap: break-word;
}

.message .msg-time {
    color: white;
}

.message.self {
    background-color: green;
    margin-left: 42%;
    position: relative;
}

.message.other {
    background-color: blue;
}

.chat-box {
    display: flex;
    margin-top: 10px;
    width: 97.5%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(243, 233, 233);

}


.chat-box input.chat-input {

    border-radius: none;
    width: 80%;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
}

.chat-box button {
    width: fit-content;
    height: 100%;

}

.chat-box button:hover {
    width: fit-content;
    height: 100%;
    background-color: $accent-color-hover;
}

.message img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px inset rgb(255, 255, 82);
}

img.liked-img {
    height: 30px;
    width: 30px;
    margin: 5px;
    box-shadow: none;
}