// Author: Michael Mathews, Cleveland Plonsey
// Date: 10/18/2023
// Purpose: Style the TutorPosts component


@import "../../colorScheme.scss";

.tutor-posts-view>h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.posts-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.link-create-post {
    text-decoration: none;
    color: $accent-color;
    border: 1px solid transparent;
}

.link-create-post:hover {
    border: 1px solid $accent-color;
}