@import "../colorScheme.scss";


h1:hover {
    //color: rgb(185, 184, 184);
}

.site-header {
    width: 100%;
}

.disclaimer-p{
    color: white;
}

nav.navbar {
    background-color: $header-bg-color;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plus-icon {
    color: white;
    width: 24px;
    height: 24px;
}