// Author: Ava Albert, Michael Mathews, Cleveland Plonsey
// Date: 10/18/2023
// Purpose: style the MessageView component



.MessageViewDesktop {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 855px) {
        display: none;
      }
}

.MessageViewMobile {
    display: none;
    @media screen and (max-width: 855px) {
        display: flex;
        flex-direction: column;
      }
}

button {
    width: 150px;
    margin-left: 20px;
}