// Author:Michael Mathews, Cleveland Plonsey
// Date: 10/10/2023
// Purpose: Style the search results view

@import "../../colorScheme.scss";

.search-results-box .user-result {
    height: fit-content;
    width: 40%;
    min-width: 17rem;
    border: solid 5px transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.user-result:hover {
    border: solid 5px $accent-color;
    transition: 0.1s;
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.result-button {
    max-width: 50%;
    height: 100%;
    border-radius: 10%;
    margin: auto 10px 10px 10px;
    margin-top: auto;
    background-color: $accent-color;
}

.search-results {
    margin: auto;
    align-items: center;
}

.search-total {
    color: white;
}

.message-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    height: 100%;
    border: solid $accent-color 3px;
    background-color: white;
    resize: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-box input {
    height: 80%;
    width: 100%;
}

.message-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.send-message-button {
    width: fit-content;
}

.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    height: 30%;
    width: 100%;
    padding: 10px;
}

.search-results-box {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%
}

// sort
.sort-by-box {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

.sort-box {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.sort-by-title {
    margin-right: 10px;
}

.sort-arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.sort-icon {
    height: 25px;
    width: auto;
    margin: 0;
    align-items: center;
}

.sort-icon:hover {
    cursor: pointer;
    color: $accent-color;
    transition: 0.5s;
}

.sort-by-title>h3 {
    margin: 0;
}

.sort-icon.selected {
    color: $accent-color;
}

.top-tutors-container.results-container {
    height: 25%;
}

.rating {
  display: inline-flex;
  align-items: center;
}

.rating > svg {
  height: 1em;
}
