$base-color: #190061; //the base color for the body of the application
$header-bg-color:  #0C0032;
$accent-color: rgb(250, 205, 73); //accent color used for buttons and other small elements that we want to stand out
$accent-color-hover: rgb(231, 158, 0); 
$text-color: #ffffff; //color for the text element (h1 h2 etc or p tags )