.dropdown>button {
    background-color: transparent;
    cursor: pointer;
}

.dropdown>button:hover {
    background-color: rgb(181, 118, 0);
}

.bell-icon {
    color: white;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: cyan;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: fit-content;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.dropdown-menu {
    background-color: navy;
    border: 2px solid;
    z-index: 10;
    position: absolute;
    padding: 10px;
    margin-left: -125px;
}

#num-notifications {
    font-size: 1rem;
    padding: 1px 3px 1px 3px;
    background-color: red;
    color: white;
    border-radius: 30px;
}